$background_color:#ffffff;
$heading_color:#484d54;
$guidex_background_color:#1A202B;
$para_text_color:#777;
$item_bg_color: rgba(223, 230, 237, 0.3);
$box_shaow_features:whitesmoke;

// Navbar
$sky-color:#5f6af5;
$color:#ffffff;
$icon-color:#EEEEEE;


// Left side
$bg_color: #1D2531;

