@import "../Components/custom.scss";


.container-one {
    height: 100vh;
    width: 250px;
    background-color: $bg_color;
    position: fixed;
    top: 0;
    left: 0;

}



.guidex {
    height: 70px;
    width: 250px;
    background-color: $guidex_background_color;
    
    display: flex;
 
    padding-left: 30px;
    align-items: center;


}

.box {
    height: 100vh;
    width: 250px;
    background-color: $bg_color;

}

.info {
    color: $color;
    background-color: $bg_color;
}

.Icon {
    font-size: 18px;
    padding-right: 10px;
    background-color: $bg_color;


}

.Icon-2 {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $bg_color;
}

.Accordion {
    color: $color;
    background-color: $bg_color;

    button {
        color: $color;
        background-color: $bg_color;
    }

    .accordion-button:focus{
        box-shadow: none;
    }
}

.box-1 {
    margin-top: 50px;
}

.box-2 {
    margin-top: 30px;
}

.box-3 {
    margin-top: 50px;
}

.accordion-button:not(.collapsed){
color: $color;

}
.accordion-button:not(.collapsed)::after {
    background-image: url("../../public/Images/down-2.svg");
    transform: rotate(-180deg);
    
    
}

.accordion-button.collapsed::after {
    background-image: url("../../public/Images/down-2.svg");
    transform: rotate();
}

